body {
    font-family: sans-serif; 
    background-color: whitesmoke;
}

.navbar{
    background-color:#003f60;
}

a {
    color: lightgray; 
    text-decoration: none;
    transition: color 0.2s ease-in-out; 
}


a:hover {
    color: whitesmoke;
    text-decoration: none;
}

label{
    color: lightgray; 
}
.imagemCentro{
    width: 1000px;
}

.borda{
    border: 1px solid rgb(17, 0, 255);
}

/* Media query para telas menores (como celulares) */
@media (max-width: 768px) {
    .imagem-mulher {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%; /* Ocupa 100% da largura da tela */
        margin: 0 auto;
    }

    /* Ajuste para o texto e outros elementos */
    .col-md-5 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    
    .text-light {
        position: static;
        text-align: center;
        padding: 20px;
    }


    .navbar-brand, .nav-link {
        padding: 0;
    }

    /* Garantir que os links e logo fiquem na mesma linha */
    .row {
        flex-wrap: nowrap;
    }

    /* Ajustar o alinhamento para caber tudo na mesma linha */
    .navbar-brand img {
        width: 100px; /* Ajustar o tamanho do logo para caber melhor em telas menores */
    }

    /* Ajustar os links para ficarem centralizados e na mesma linha */
    .nav-link {
        flex: 1;
        text-align: center;
    }

    .prevendo_celular {
        position: fixed; /* Fixar a navegação no topo */
        top: 0;
        left: 0;
        z-index: 999; /* Garantir que nada sobreponha a barra */
        width: 100%; /* Ocupa toda a largura da tela */
    }

    
    
}