body {
    font-family: sans-serif; 
    background-color: whitesmoke;
}

.navbar{
    background-color:#003f60;
}

a {
    color: lightgray; 
    text-decoration: none;
    transition: color 0.2s ease-in-out; 
}


a:hover {
    color: whitesmoke;
    text-decoration: none;
}

label{
    color: lightgray; 
}
.imagemCentro{
    width: 1000px;
}

.borda{
    border: 1px solid rgb(17, 0, 255);
}


