body, html {
    font-family: sans-serif; 
    background-color: whitesmoke;
    overflow-x: hidden;
    min-width: 480px;
    width: 100%;
}

.form-control{
    border-radius: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.616); 
}

.chatBola{
    background-image: url("imgs/chatBola.png");
    background-size: cover;
    position:absolute; 
    min-height:90vh;
    right:0%;
    top:40%;
}

.navbar{
    background-color:#003f60;
}

a {
    color: lightgray; 
    text-decoration: none;
    transition: color 0.2s ease-in-out; 
}


a:hover {
    color: whitesmoke;
    text-decoration: none;
}

label{
    color: lightgray; 
}
.imagemCentro{
    width: 100%;
}

.borda{
    border: 1px solid rgb(17, 0, 255);
}

.logo{
    width: 100%;
    text-align: right;
}

.imagem_abaixo{
    display: none;
}

.itens_celular{
    display: none;
}

@media (max-width: 1000px) { 
    .sumir{  
        display :none;
    }

    .foto{
        width: 80%;
    }

    .titulo{
       font-size: 40px; 
    }

    .paragrafo{
        font-size: 20px;
    }

    .logo{
        width: 60%;
        text-align: right;
    }
}

@media(min-width: 1000px){
    .aparece{
        display: none;
    }

    .foto{
        width: 80%;
    }
}

.masterHead{
    background-image: url('imgs/Mulher_No_Celular.png'); 
    width: 100%; height: 70%; 
    background-size: cover;
    min-height: 100vh;
}

.Pilastra_Da_Esquerda{
    background-image: url('imgs/Pilastra_Da_Esquerda.png'); 
    background-size: cover;
    position:absolute; 
    min-height: 115vh;
    top:30%;  
}




@media (max-width: 900px) {
    .masterHead h1 {
        font-size: 1.2rem;
    }
    .masterHead p {
        font-size: 0.8rem;
    }

    .Pilastra_Da_Esquerda{
        min-height: 40vh;  
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    
    .imagens_direita{
        display: none;
    }

    .imagem_abaixo{
        display: block;
        background-image: url('imgs/001.png');
        width: 100%; height: 100%; 
        background-size: cover;
        min-height: 40vh;       
    }

    .itens_celular{
        width: 100%;
        display: block;
    }

    .masterHead{
        min-height: 70vh;
        background-image: none;
    }

    .config{
        width: 70%;
    }

    .chatBola{
        display: none;
    }
    
}


